@import "~style";
@import "components/button";
@import "components/navbar";
@import "components/icon";
@import "components/container";
@import "components/heading";
@import "components/subnav";
@import "components/nav";
@import "components/form";
@import "components/grid";
@import "components/link";
@import "components/badge";
@import "components/padding";
@import "components/text";

hr {
	border-width: 2px;
	border-color: #d0d0d0 !important;
}

h2 {
	color: $global-color;
	font-size: 1.25rem !important;
}

.c-pointer {
	cursor: pointer;
}

.c-primary-on-hover {
	&:hover {
		color: $primary-color !important;
	}
}

.c-bordered {
	border: 2px solid $border-color;
	border-radius: 25px;
	box-sizing: border-box;
}

.c-bordered-white {
	border: 2px solid white;
	border-radius: 25px;
	box-sizing: border-box;
}

.c-bordered-blue {
	object-fit: contain;
	border-radius: 16px;
	border: solid 2px transparent;
	background-image: linear-gradient(#fff, #fff), linear-gradient(83deg, #4a90e2, #723fa1);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-sizing: border-box;
}

.c-filter-location {
	.fa {
		position: absolute;
		top: 0;
		bottom: 0;
		left: auto;
		right: 0;
		margin: auto;
		height: 1.8rem;

		@include breakpoint(medium only) {
			right: -20px;
		}

		&::before {
			font-size: 1.8rem;
			color: $global-muted-color;
		}
	}
}

.c-input-with-rouble {
	position: relative;

	.c-rouble {
		position: absolute;
		top: 6px;
		right: 0;
		left: auto;
		width: 10px;
		height: 1.5em;
		margin: auto;
	}
}

.c-rouble {
	width: 1em;
	color: $global-muted-color;
}

.c-icon {
	display: flex;
	align-items: center;

	svg {
		width: 26px;
		min-width: 26px;
		margin-right: 10px;
	}

	a {
		line-height: 1.2em;
	}

	&-smaller {
		svg {
			width: 16px;
			min-width: 16px;
		}
	}
}

.c-two-sided-list {
	color: $global-muted-color;
	line-height: 1.25em;

	div:first-child {
		color: black;
		font-size: 1.25rem;
		line-height: 1.5em;
	}
}

.c-border-bottom-muted {
	border-bottom: 2px solid #f8f8f8;
	position: relative;
}

.c-rating {
	display: flex;

	svg {
		min-width: 24px;
		margin: 2px;
	}
}

.c-under-row-text {
	font-size: 0.6rem;
	white-space: nowrap;
	position: absolute;
	bottom: -25px;
}

.c-buttons-wrapper-smaller {
	flex-basis: 180px;
	white-space: nowrap;

	.uk-button {
		flex-grow: 1;
	}
}

.c-buttons-wrapper-bigger {
	flex-basis: 210px;
	white-space: nowrap;

	.uk-button {
		flex-grow: 1;
	}
}

.c-subnav {
	.c-icon {
		flex-basis: 15%;
		padding: 0 10px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.c-avatar {
	border-radius: 100%;
}

.c-heading-1 {
	font-size: 1.75rem;
	line-height: 1.5em;
}

.c-heading-2 {
	font-size: 1.5rem;
	line-height: 1.35em;
}

.c-heading-3 {
	font-size: 1.25rem;
	line-height: 1.35em;
}

.c-width-25 {
	flex-basis: 25%;
}

.c-save-search {
	white-space: nowrap;
	margin: 10px;
}

.c-grow {
	flex-grow: 1;
}

.c-footnote {
	font-size: 0.75rem;
	color: #9b9b9b;
	line-height: 1.25em;
	display: inline-block;
	padding-bottom: 2em;
	border-bottom: 2px dashed #d0d0d0;
}
