@import "~style";

$block-name: 'b-popup';

.#{$block-name} {
	&__link {
		border: 1px solid #e2e2e2;
		outline: none;
	}

	&__image {
		display: block;
	}
}

.mfp-bg {
	background: rgba(255, 255, 255, 0.97);
	opacity: 1;
}

.mfp-close {
	color: transparent !important;
	width: 57px;
	height: 57px;

	&::before,
	&::after {
		content: '';
		border-top: solid 1.5px #d0d0d0;
		display: block;
		position: absolute;
		top: 25%;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&::before {
		transform: rotate(45deg);
		left: -45%;
	}

	&::after {
		transform: rotate(-45deg);
		right: -25%;
		left: auto;
	}
}
