@import "~style";

.b-filter {
	&__desktop {
		display: block;
		width: 100%;
	}

	&__mobile {
		display: none;
	}

	@include breakpoint(small down) {
		padding: 0 !important;

		&__desktop {
			display: none;
		}

		&__mobile {
			display: block;
			padding: 0 10px;
			box-sizing: border-box;
			width: 100%;
			position: absolute;
			top: auto;
			left: 0;
			right: 0;
			bottom: 30px;

			input {
				background-color: white;
				border-radius: 10px;
				border: none;
				width: 100%;
				height: 80px;
				font-size: 1.25rem;
				padding: 0 10px;
				box-sizing: border-box;
				outline: none;
			}

			button {
				position: absolute;
				top: 0;
				bottom: 0;
				outline: none;
				right: 20px;
				background: $primary-color url(/img/find.svg) center no-repeat;
				width: 48px;
				height: 48px;
				display: block;
				background-size: 20px;
				border: none;
				border-radius: 100%;
				box-shadow: 0 5px 15px 0 rgba(49, 118, 198, 0.39);
				margin: auto !important;
				cursor: pointer;
			}
		}
	}
}
