@import "~style";

$block-name: 'b-list-sort-select-line';

.#{$block-name} {
	display: flex;

	&__title {
		color: #9b9b9b;
	}

	&__point {
		color: #4a4a4a;
		position: relative;
		padding-right: 25px;
		padding-left: 12px;
		cursor: pointer;

		&--selected {
			color: #4a90e2;
		}

		&--desc::after,
		&--asc::after {
			content: '';
			background: url(/img/arrow-sort.svg) center no-repeat;
			width: 12px;
			height: 9px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 6px;
			margin: auto;
		}

		&--asc::after {
			transform: rotate(180deg);
		}
	}
}
