@import "~style";

$block-name: 'b-form';

.#{$block-name} {
	min-width: 300px;

	&__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&__field {
		position: relative;
		margin-bottom: 30px;
		width: 100%;
		//max-width: 380px;

		button {
			width: 100%;
			margin: 0 !important;
		}

		&--focused {
			.#{$block-name} {
				&__label {
					transform: translateY(-1em) scale(0.7);
					bottom: 0;
				}
			}
		}

		&--mail {
			.#{$block-name}__field--type-rounded .#{$block-name}__input {
				background: url(/img/envelope-regular.svg) 5% 50% no-repeat;
				background-size: 21px;
				padding-left: 50px;
			}

			.#{$block-name}__field--type-underline .#{$block-name}__input {
				background: url(/img/envelope-regular.svg) 5% 50% no-repeat;
				background-size: 21px;
				padding-left: 0;
				padding-right: 50px;
				background-position: 95% 50%;
			}
		}

		&--radio {
			label {
				display: inline-block;
				vertical-align: middle;
				border: 2px dashed #9b9b9b;
				border-radius: 25px;
				padding: 0 15px;
				width: 100%;
				box-sizing: border-box;
				position: relative;
				color: #9b9b9b;
				cursor: pointer;

				&::before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
					width: 45px;
					height: 45px;
					background: url(/img/choose-no.svg) 0 0 no-repeat;
					background-size: contain;
					border-radius: 20px;
				}
			}

			input {
				display: none;

				&:checked + label {
					color: #000;
					border: 2px solid $primary-color;

					&::before {
						background: url(/img/choose-yes.svg) 0 0 no-repeat;
					}
				}
			}
		}

		&--type-rounded {
			.#{$block-name} {
				&__label {
					left: 17px;
				}

				&__input {
					border: 2px solid;
					border-radius: 25px;
					padding: 16px 16px 15px;

					&--blue {
						border-color: $primary-color;
					}

					&--error {
						border-color: $global-danger-color;
					}

					&--gray {
						border-color: #9b9b9b;
					}

					[disabled],
					&--non-active {
						color: #9b9b9b;
						border-color: #9b9b9b;
					}
				}

				&__textarea {
					border: 2px solid;
					border-radius: 25px;
					padding: 16px 16px 15px;
					width: 100%;
					resize: none;
					font-size: 1rem;
					color: black;
					outline: none;
					box-sizing: border-box;

					&.error {
						border-color: $global-danger-color !important;
					}

					&--blue {
						border-color: $primary-color;
					}

					&--error {
						border-color: $global-danger-color;
					}

					&--gray {
						border-color: #9b9b9b;
					}

					[disabled],
					&--non-active {
						color: #9b9b9b;
						border-color: #9b9b9b;
					}
				}

				&__dropdown {
					& + .select2 {
						font-size: 1rem;
						border: 2px solid;
						border-radius: 25px;
						padding: 16px 46px 15px 16px;
						width: 100% !important;
						margin-left: auto !important;

						.select2-selection__arrow {
							top: 0;
							bottom: 0;
							right: 10px;
							margin: auto;
						}

						.select2-selection {
							border-radius: 25px;
							height: 1.15em;
						}

						.select2-selection__rendered {
							padding: 0 !important;
							line-height: 1.15em;
						}

						&.select2-container--open {
							&::before,
							&::after {
								content: '';
								display: block;
								position: absolute;
								top: 50%;
								bottom: -2px;
								width: 2px;
								background-color: #efefef;
								z-index: -1;
							}

							&::before {
								left: -2px;
							}

							&::after {
								right: -2px;
							}
						}
					}

					&--blue {
						& + .select2 {
							border-color: $primary-color;
						}
					}

					&--gray {
						& + .select2 {
							color: #9b9b9b;
							border: 2px solid #9b9b9b;
						}
					}

					&--error {
						& + .select2 {
							border-color: $global-danger-color;
						}
					}

					& + .select2-container--open .select2-selection {
						border: none;
						border-radius: 25px !important;
					}
				}
			}
		}

		&--type-underline {
			.#{$block-name} {
				&__input {
					border: none;
					border-bottom: 2px solid;
					padding: 3px 0;

					&.b-form__input--non-active {
						border-bottom-style: dashed;
					}

					&--blue {
						border-color: $primary-color;
					}

					&--error {
						border-color: $global-danger-color;
					}

					[disabled],
					&--non-active {
						color: #9b9b9b;
						border-color: #9b9b9b;
					}
				}

				&__dropdown {
					max-width: 280px;

					& + .select2 {
						font-size: 1rem;
						border: none;
						border-bottom: 2px solid;
						border-radius: 0;
						padding: 4px 46px 5px 0;
						width: 100% !important;
						margin-left: auto !important;

						.select2-selection__arrow {
							top: 0;
							bottom: 0;
							right: 0;
							margin: auto;
						}

						.select2-selection {
							border-radius: 25px;
							height: 1.15em;
						}

						.select2-selection__rendered {
							padding: 0 !important;
							line-height: 1.15em;
						}

						&.select2-container--open {
							border-bottom-color: #efefef;
						}
					}

					&--blue {
						& + .select2 {
							border-color: $primary-color;
						}
					}

					&--gray {
						& + .select2 {
							color: #9b9b9b;
							border: 2px solid #9b9b9b;
						}
					}

					&--error {
						& + .select2 {
							border-color: $global-danger-color;
						}
					}

					& + .select2-container--open .select2-selection {
						border: none;
						border-radius: 25px !important;
					}
				}
			}
		}

		& + .b-form__field {
			margin-left: 40px;
		}
	}

	&__label {
		position: absolute;
		top: 4px;
		bottom: 3px;
		left: 0;
		height: 1.25em;
		margin: 12px auto 0;
		z-index: 10;
		color: #9b9b9b;
		transition: 350ms;
		transform-origin: 0 0;
	}

	&__input {
		font-size: 1rem;
		color: black;
		outline: none;
		width: 100%;
		//max-width: 380px;
		box-sizing: border-box;

		&.error {
			border-color: $global-danger-color !important;
		}
	}

	&__dropdown {
		width: 100%;
		box-sizing: border-box;
	}
}

.select2-dropdown {
	top: 0;
	padding-top: 15px;
	background: transparent;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	overflow: hidden;

	.select2-search {
		background-color: white;
		padding: 10px 14px;
	}

	.select2-results {
		background-color: white;
	}

	.select2-results__option {
		border-bottom: 1px solid #d0d0d0;
		margin-left: 15px;
		margin-right: 15px;
		padding: 8px 0;

		&:last-child {
			border: none;
			margin-bottom: 8px;
		}
	}
}

.select2-container {
	font-size: 1rem !important;
}

select + .select2 {
	width: 100% !important;
}

label.error {
	position: absolute;
	left: calc(100% + 25px);
	top: 0;
	width: 100%;
	bottom: 0;
	margin: auto;
	height: 1.4em;
	color: $global-danger-color;

	@include breakpoint(medium down) {
		left: 0;
		right: 0;
		text-align: center;
		top: 100%;
		bottom: auto;
	}
}
