@mixin site-fonts () {
	@include font-face($name: "Rubik", $path: "~/font/Rubik-Light", $weight: 300, $style: normal, $woff2: true);
	@include font-face($name: "Rubik", $path: "~/font/Rubik-Regular", $weight: 400, $style: normal, $woff2: true);
	@include font-face($name: "Rubik", $path: "~/font/Rubik-Medium", $weight: 500, $style: normal, $woff2: true);
}
