@import "~style";

$block-name: 'b-main-slider';

.#{$block-name} {
	overflow: hidden;
	padding: 20px 72px 20px 10px;
	position: relative;
	margin-left: -20px;

	@include breakpoint(small down) {
		padding: 20px 0;
		margin-left: 0;
	}

	@include breakpoint(medium only) {
		padding: 20px 0;
		margin-right: -25px;
	}

	.slick-list {
		overflow: visible;
	}

	.slick-arrow {
		border: none;
		font-size: 0;
		width: 62px;
		height: calc(50% - 20px);
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		outline: none;
		z-index: 10;
		cursor: pointer;

		@include breakpoint(medium only) {
			height: calc(25% - 20px);
		}
	}

	.slick-prev {
		top: 20px;
		border-top-left-radius: 10px;
		background: url(/img/left-gray-arrow.svg) 50% 90% no-repeat white;
		background-size: 30px;

		@include breakpoint(medium only) {
			top: 25%;
		}

		&:hover {
			background: url(/img/left-blue-arrow.svg) 50% 90% no-repeat white;
			background-size: 30px;
		}
	}

	.slick-next {
		top: calc(50% - 20px);
		bottom: 20px;
		border-bottom-left-radius: 10px;
		background: url(/img/right-gray-arrow.svg) 50% 10% no-repeat white;
		background-size: 30px;

		@include breakpoint(medium only) {
			bottom: 25%;
		}

		&:hover {
			background: url(/img/right-blue-arrow-bigger.svg) 50% 10% no-repeat white;
			background-size: 30px;
		}
	}

	.slick-dots {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 20px;

		@include breakpoint(small down) {
			left: 0;
			margin: auto;
			right: 0;
			justify-content: center;
		}

		li {
			cursor: pointer;
		}

		button {
			background-color: #d0d0d0;
			transition: 250ms;
			border: none;
			height: 4px;
			width: 24px;
			cursor: pointer;
			border-radius: 5px;
			font-size: 0;
			margin: 0 2px;
			outline: none;
		}

		.slick-active button {
			background-color: $primary-color;
		}
	}

	&__slide {
		background: white;
		box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(62, 134, 219, 0.2);
		transition: 250ms;
		border-radius: 10px;
		overflow: hidden;
		margin: 0 10px;
		width: auto !important;
		outline: none;

		& > img {
			width: 100%;
			height: auto;
		}

		&:hover {
			box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.05), 0 35px 20px -20px rgba(62, 134, 219, 0.05);
		}
	}

	&__slide-content {
		padding: 24px 16px;
	}
}
