@import "~style";

$block-name: 'b-footer';

.#{$block-name} {
	position: relative;

	&__nav {
		box-sizing: border-box;

		@include breakpoint(small down) {
			display: none;
		}

		@include breakpoint(medium only) {
			width: 33%;
		}
	}

	&__socials {
		@include breakpoint(small down) {
			width: 100%;
			text-align: center;
		}

		@include breakpoint(medium only) {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}

	&__copyrights {
		@include breakpoint(small down) {
			width: 100%;
			text-align: center;
		}

		@include breakpoint(medium only) {
			width: 100%;
		}
	}
}
