@import "~style";

.sidebar {
	padding: 16px;

	hr {
		border-top-width: 2px;
		margin: 10px 0;
	}

	a {
		line-height: 2em;
		padding-left: 20px;
	}

	.count {
		line-height: 2rem;
		font-size: 0.75rem;
		color: $global-muted-color;
	}
}
