@import "~style";

$block-name: 'b-slider';

.#{$block-name} {
	min-width: 600px;
	width: 600px;
	position: relative;

	.slick-arrow {
		background-color: transparent;
		width: 22px;
		height: 36px;
		border: none;
		font-size: 0;
		cursor: pointer;
		outline: none;
		position: absolute;
		bottom: 0;
		top: 0;
		margin: auto;
		z-index: 20;
	}

	.slick-next {
		right: 0;
		left: auto;
		background: url(/img/right-white-arrow.svg) center no-repeat;
		background-size: cover;
	}

	.slick-prev {
		left: 0;
		right: auto;
		background: url(/img/left-white-arrow.svg) center no-repeat;
		background-size: cover;
	}

	&__nav {
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(74, 74, 74, 0.6);
		outline: none;
		padding: 0 15px;

		.slick-arrow {
			width: 12px;
			height: 25px;
		}
	}

	&__nav-slide {
		padding: 5px;
		outline: none;
	}

	& + div {
		padding-left: 24px;
	}

	.slick-slide {
		font-size: 0;
	}
}
