{# @var string logo #}
{# @var string phone #}
{# @var string cabinet #}
{# @var string search #}
{# @var string basket #}
{# @var string menu #}
<div class="{{ block.cls }}">
	<div class="{{ block.elem('middle') }}">
		<div class="{{ block.elem('row') }}">
			<div class="{{ block.elem('logo') }}">{{ logo }}</div>
			<div class="{{ block.elem('phone') }}">{{ phone }}</div>
			<div class="{{ block.elem('cabinet') }}">{{ cabinet }}</div>
			<div class="{{ block.elem('search') }}">{{ search }}</div>
			<div class="{{ block.elem('basket') }}">{{ basket }}</div>
			<div class="{{ block.elem('menu') }}">{{ menu }}</div>
		</div>
	</div>
</div>