@import "~style";

$block-name: 'b-row-teaser';

.#{$block-name} {
	margin-bottom: 50px;

	&__slider {
		max-width: 344px;
		position: relative;
		align-self: flex-start;

		.slick-arrow {
			width: 14px;
			height: 28px;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			border: none;
			font-size: 0;
			outline: none;
			z-index: 100;
			cursor: pointer;
		}

		.slick-prev {
			background: url(/img/left-white-arrow.svg) center no-repeat;
			background-size: cover;
			left: 40px;
		}

		.slick-next {
			background: url(/img/right-white-arrow.svg) center no-repeat;
			background-size: cover;
			right: 10px;
		}
	}

	&--local {
		.#{$block-name}__slider {
			position: relative;

			&::before {
				content: 'Локальный';
				background-color: #723fa1;
				border-radius: 25px;
				padding: 4px 13px 3px;
				position: absolute;
				z-index: 100;
				top: 14px;
				left: 44px;
				color: white;
				font-size: 0.75rem;
			}
		}
	}

	&--archive {
		.#{$block-name}__slider {
			position: relative;

			&::before {
				content: 'Архивный';
				background-color: #4a4a4a;
				border-radius: 25px;
				padding: 4px 13px 3px;
				position: absolute;
				z-index: 100;
				top: 14px;
				left: 44px;
				color: white;
				font-size: 0.75rem;
			}
		}
	}

	&--ask {
		.#{$block-name}__slider {
			position: relative;

			&::before {
				content: 'По запросу';
				background-color: #c74051;
				border-radius: 25px;
				padding: 4px 13px 3px;
				position: absolute;
				z-index: 100;
				top: 14px;
				left: 44px;
				color: white;
				font-size: 0.75rem;
			}
		}
	}
}
