.main-container {
	position: relative;
	z-index: 1;

	.content {
		width: 100%;

		& > .uk-container-custom-padding:first-child {
			padding-top: 32px;
		}
	}

	.sidebar {
		min-width: 236px;
		margin: 32px 24px 17px;
	}
}
