@import "~style";

$block-name: 'b-main';

.#{$block-name} {
	overflow-x: hidden;

	&__content {
		position: relative;
	}

	&__filter {
		margin: auto !important;
		max-width: 1024px;
		max-height: 150px;
		background: white;
		border-bottom: 1px solid #d0d0d0;

		@include breakpoint(medium down) {
			border-radius: 0;
		}

		@include breakpoint(large) {
			position: absolute;
			top: 50%;
			bottom: auto;
			left: 0;
			right: 0;
			border: none;
		}
	}

	&__header {
		position: absolute;
		top: 25%;
		right: 0;
		bottom: auto;
		left: 0;
		margin: auto;
		color: white;
		height: 1em;
		text-align: center;
	}

	&__header-img {
		background: url(/img/header-pic.jpg) center no-repeat;
		background-size: cover;
		min-height: 400px;

		@include breakpoint(medium) {
			margin-top: -60px;
		}
	}

	&__section {
		margin: 56px 0 0;

		@include breakpoint(small down) {
			margin: 20px 0 0;
		}

		@include breakpoint(medium down) {
			overflow: hidden;
		}

		&--gray {
			padding-top: 56px;
			padding-bottom: 56px;
			background: #f8f8f8;
			position: relative;

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #f8f8f8;
				display: block;
			}

			&::before {
				right: 100%;
			}

			&::after {
				left: 100%;
			}
		}
	}

	&__section-header {
		margin-bottom: 40px;

		@include breakpoint(small down) {
			margin-bottom: 0;
		}

		div {
			&:nth-child(2) {
				span {
					margin-left: 6px;
					border: 2px solid $primary-color;
					color: $primary-color;
					padding: 3px 13px 1px;
					border-radius: 18px;
				}

				@include breakpoint(small down) {
					margin-left: auto;
				}
			}

			&:nth-child(3) {
				border-bottom: 2px dashed $global-muted-color;
				margin: 0 18px 0 6px;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: -6px;
					right: -12px;
					background: url(/img/right-blue-arrow.svg) center no-repeat;
					width: 7px;
					height: 13px;
				}

				@include breakpoint(small down) {
					display: none;
				}
			}

			&:nth-child(4) {
				@include breakpoint(small down) {
					display: none;
				}
			}
		}
	}

	.uk-navbar-nav > li > a {
		color: white;
	}

	.c-save-search {
		display: none;
	}
}
