.uk-badge-reverse {
	box-sizing: border-box;
	min-width: $badge-size;
	height: $badge-size;
	padding: $badge-padding-vertical $badge-padding-horizontal;
	border-radius: $badge-border-radius;
	vertical-align: middle;
	background: transparent;
	color: $primary-color;
	font-size: $badge-font-size;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid $global-muted-color;
}
