.uk-button {
	border-radius: 25px;
	text-transform: none !important;
	font-size: 1rem;
	line-height: 1rem !important;
	padding: 8px $button-large-padding-horizontal 9px !important;
	margin: 10px !important;
	white-space: nowrap;
}

.uk-button-large {
	font-size: 1.25rem;
	padding: 13px 21px 14px !important;
}

.uk-button-small {
	font-size: 0.75rem;
	padding: 7px 15px 6px !important;
}

.uk-button-primary-inverse {
	background-color: transparent;
	border: 2px solid $button-primary-background !important;
	color: $button-primary-background !important;
}

.uk-button-transparent {
	font-size: 0.75rem !important;
	color: $global-color !important;
	background-color: transparent;
	border: 2px solid $global-muted-color !important;
}

.uk-button-muted {
	color: $global-muted-color;
	background-color: $border-color;
	border: 2px solid $border-color !important;
}
