.uk-form-large {
	@include breakpoint(medium only) {
		font-size: 1rem;
	}
}

.uk-input.uk-form-large,
.uk-select.uk-form-large {
	border: none;

	&.uk-select {
		padding-right: 24px !important;
	}
}

.uk-input.uk-form-underline,
.uk-select.uk-form-underline {
	border: none;
	border-bottom: 2px dashed $global-muted-color;

	&:focus {
		border-color: $global-color;
		border-bottom-style: solid;
	}
}
