.uk-icon {
	color: $primary-color;

	circle,
	line {
		stroke-width: 1.7;
	}
}

.uk-icon-button {
	text-decoration: none !important;
	margin: 0 5px;

	.fa {
		color: white;
		font-size: 150%;
	}

	&--facebook {
		background-color: #3a5998;
	}

	&--vk {
		background-color: #4d76a1;
	}

	&--twitter {
		background-color: #5ea9dd;
	}

	&--google-plus {
		background-color: #dd4b39;
	}
}

.uk-icon-button-bigger {
	width: 56px;
	height: 56px;

	.fa {
		font-size: 230%;
	}
}
