.uk-subnav-switch {
	color: $primary-color;

	li {
		border: 2px solid $primary-color;
		padding: 3px 25px 2px;
		cursor: pointer;
		transition: 250ms;

		&.uk-active {
			color: white;
			background-color: $primary-color;
		}
	}

	& > li:first-child {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	& > li:last-child {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}
