@import "~style";

.b-header {
	@include breakpoint(small down) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	&__search {
		white-space: nowrap;

		.uk-icon {
			min-width: 21px;
			outline: none;
		}

		@include breakpoint(small down) {
			display: none;
		}

		@include breakpoint(medium only) {
			span {
				display: none;
			}
		}
	}

	&__contact {
		@include breakpoint(small down) {
			display: none;
		}
	}

	&__link {
		@include breakpoint(small down) {
			display: none;
		}
	}

	&__enter {
		@include breakpoint(small down) {
			font-size: 0;
			background: $primary-color url(/img/user-regular.svg) no-repeat center;
			background-size: 15px;
			border-radius: 100%;
			padding: 0 !important;
			width: 36px;
			height: 36px;
			margin: 0 !important;
		}
	}

	&__logo {
		@include breakpoint(small down) {
			margin-left: 10px;
		}
	}

	&__register-form,
	&__password-restore-form,
	&__autorization-form {
		padding-top: 60px;
		max-width: 1200px;
		margin: 0 auto;

		.uk-width-expand {
			min-width: 300px;
		}
	}
}
