@import "~style";

@mixin pagenav_link_preset() {
	border: 2px solid $global-muted-color;
	border-radius: 25px;
	width: 49px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $primary-color;
	padding: 18px;
	box-sizing: border-box;
	margin: 0 12px;
}

.pagenav {
	display: flex;
	justify-content: center;
	margin: 60px auto;

	.divider {
		@include pagenav_link_preset;

		border: 0;
		color: $global-color;
	}

	.link {
		@include pagenav_link_preset;
	}

	.button {
		@include pagenav_link_preset;

		width: auto;
		border-color: $primary-color;
	}

	.active {
		background-color: $primary-color;
		border-color: $primary-color;
		color: white;
	}
}
