@import "~style";
@import "~font-awesome/scss/font-awesome";

// UIkit
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";
@import "~theme/theme";
@import "~magnific-popup/src/css/main";
@import "~slick-carousel/slick/slick";
@import "~select2/src/scss/core";

@include site-fonts();

body {
	min-width: 320px;
	font-family: "Rubik", sans-serif;
}
