@import "~style";

.uk-navbar {
	@include breakpoint(small down) {
		position: fixed;
		top: 24px;
		right: 10px;
		width: 24px;
		height: 22px;
		z-index: 20;
		cursor: pointer;
		border: none;

		&::after {
			content: '';
			background: url(/img/burger.svg) center no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 22px;
			display: block;
			z-index: 20;
		}

		&-nav {
			position: fixed;
			z-index: 10;
			top: -1000px;
			left: 0;
			right: 0;
			background-color: white;
			padding: 50px 20px;
			transition: 350ms;

			li {
				width: 100%;
			}

			a {
				color: $primary-color !important;
			}
		}

		&-opened {
			&::after {
				background: url(/img/times-solid.svg) center no-repeat;
			}

			.uk-navbar-nav {
				top: 0;
			}
		}
	}
}
